<div class="section">
	<main ng-controller="buyController">
	    <center>
	      <div class="container">
			<div ng-init="loadAccount()">
				<h4>Currency Exchange Form</h4>
				<form ng-submit="apply()" name="application">
			        <div class="row">
			        	<div class="col s12 m6 l6">
			        		<div input-field>
							    <select ng-model="application.selling" material-select watch>
								    <option ng-repeat="value in money">{{value}}</option>
							    </select>
							    <label>Selling</label>
							</div>
			        	</div>
			        	<div class="col s12 m6 l6">
			        		<div input-field>
							    <select ng-model="application.buying" material-select watch>
							    	<option ng-repeat="value in money">{{value}}</option>
							    </select>
							    <label>Buying</label>
							</div>
			        	</div>
			        </div>
			        	<div class="row">
				        	<div class="col s12 m6 l6">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="application.units" required>
									    <label>Worth</label>
									</div>
								</div>
				        	</div>
				        	<div class="col s12 m6 l6">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-bind="application.units" ng-model="application.amount" disabled>
									    <label>Amount to Buy</label>
									</div>
								</div>
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col s12 m6 l4">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="application.bankName" hidden>
									</div>
								</div>
				        	</div>
				        	<div class="col s12 m6 l4">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="application.accountNumber" hidden>
									</div>
								</div>
				        	</div>
				        	<div class="col s12 m6 l4">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="application.accountName" hidden>
									</div>
								</div>
				        	</div>
				        </div>
				        <div class="right">
				        	<button type="submit" class="waves-effect waves-light waves-block btn">Apply for Exchange</button>
				        </div>
				        <div class="section"></div>
				</form>
			</div>
	      </div>
	    </center>
	</main>
</div>