<div class="section">
	<main ng-controller="buyController as buyCtrl">
	    <center>
	  <div class="section"></div>
  	<div class="indigo-text">
  		<button class="waves-effect waves-block btn" ng-click="exchange = !exchange">
	  		{{ toggle_application_btn }}
  		</button>
	</div>
	      <div class="section"></div>

	      <div class="container">

			<div ng-show="exchange">
				<h4>Currency Exchange Form</h4>
			        <div class="row">
			        	<div class="col s12 m6 l6">
			        		<div input-field>
							    <select ng-model="selling_currencies" material-select watch>
								    <option ng-repeat="value in money">{{value}}</option>
							    </select>
							    <label>Selling</label>
							</div>
			        	</div>
			        	<div class="col s12 m6 l6">
			        		<div input-field>
							    <select ng-model="buying_currencies" material-select watch>
							    	<option ng-repeat="value in money">{{value}}</option>
							    </select>
							    <label>Buying</label>
							</div>
			        	</div>
			        	<div class="row">
				        	<div class="col s12 m6 l6">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="quantity">
									    <label>Worth</label>
									</div>
								</div>
				        	</div>
				        	<div class="col s12 m6 l6">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-bind="quantity" ng-model="result" disabled>
									    <label>Amount to Buy</label>
									</div>
								</div>
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col s12 m6 l4">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="bankName" >
									</div>
								</div>
				        	</div>
				        	<div class="col s12 m6 l4">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="accountNumber">
									</div>
								</div>
				        	</div>
				        	<div class="col s12 m6 l4">
				        		<div input-field>
								    <div input-field>
									    <input type="text" ng-model="accountName">
									</div>
								</div>
				        	</div>
				        </div>
			        </div>
			</div>
			<div class="row" ng-init="getMyApplications()">
				<div class="col s12 m6 l4" ng-show="applications == null">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="assets/images/transaction_not_found.png">
					    </div>
					    <!-- <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p class="right"><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div> -->
					  </div>
				</div>
			</div>
	      </div>
	    </center>
	</main>
</div>