<div class="section" ng-controller="pagesController as pagesCtrl">
	<div class="container">
		<div class="row">
			<div class="center">
				<h4>Contact Us</h4>
			</div>
			<div class="col s12 l6">
				 <div class="card-panel hoverable">
				 	Plot 20, road 3 Clitter Avenue Nkpolu, <br>
				 	Rumigbo, Port Harcourt, <br>
				 	Rivers State, Nigeria.
				 </div>
			</div>
			<div class="col s12 l6">
				<div class="card-panel hoverable">
					0709342358, <br>
					09024222772, <br>
					0803959435
				</div>
			</div>
			<div class="col s12 l12">
				<div class="card-panel hoverable">
					facebook, <br>
					twitter, <br>
					whatsapp, <br>
					telegram
				</div>
			</div>
		</div>
	</div>
</div>
