

<div ng-controller="indexController as indexCtrl">

			<div class="parallax-container">
			    <div parallax><img src="assets/images/index.jpg"></div>
			</div>
			<div class="container">
				<div class="row">
				<div class="col s12 l4">
					<div class="section">
						<h5><a href="http://worldconnectbiz.blogspot.com.ng/" target="_blank">Click here for latest business news, tips, ideas, and cryptocurrency information.</a></h5>
						<p>For free adverts, biz news and information send us an email to <a href="mailto:apostlegrace2014@gmail.com">Apostle Grace</a> +2347069342358.
						</p>
					</div>
				</div>
				<div class="col s12 l6">
					<div class="section">
							<div class="container" ng-init="exchange()">
						        <div class="center-align custom">
						        <h5>Our Exchange Rates</h5>
								<table>
								  <thead>
								    <tr>
								        <th data-field="id">Currency</th>
								        <th data-field="name">Selling</th>
								    </tr>
								  </thead>

								  <tbody>
								    <tr ng-repeat="(key, value) in exchange_rates.currencies">
								    	<td><strong>{{ value.currency }}</strong></td>
								    	<td><strong>{{ value.unit | number : 2}}</strong></td>
								    </tr>
								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 l2">
					<div class="section">
		                <!-- START CbproAds Affiliate Banner Code --><a href="http://www.cbproads.com/refer.asp?id=4144346" target=_blank><img src="http://www.cbproads.com/images/160x600.gif"  ></a> <!-- END CbproAdsCode - Copyright 2014 CbproAds.com, Inc -->
		            </div>
				</div>
			</div>
		</div>
	</div>