<div class="section">
	<main ng-controller="registerController as registerCtrl">
	    <center>
	      <div class="section"></div>
	      <h5 class="indigo-text">Create new Account</h5>
	      <div class="section"></div>

	      <div class="container">
	        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

	          <form class="col s12" ng-submit="create_account()">
	            <div class='row'>
	              <div class='input-field col s12 m4 l4'>
	                <input type='text' ng-model="firstname" />
	                <label for='firstname'>Firstname</label>
	              </div>
	              <div class='input-field col s12 m4 l4'>
	                <input type='text' ng-model="lastname" />
	                <label for='lastname'>Surname</label>
	              </div>
	              <div class='input-field col s12 m4 l4'>
	                <input type='text' ng-model="othername" />
	                <label for='othername'>Othername</label>
	              </div>
	            </div>
	            <div class='row'>
	              <div class='input-field col s12 m6 l6'>
	                <input type='email' ng-model="email" />
	                <label for='email'>Email Address</label>
	              </div>
	              <div class='input-field col s12 m6 l6'>
	                <input type='tel' ng-model="phone" />
	                <label for='phone'>Phone Number</label>
	              </div>
	            </div>
	            <div class='row'>
	              <div class='input-field col s12 m6 l6'>
	                <input type='password' ng-model="password" />
	                <label for='password'>Password</label>
	              </div>
	              <div class='input-field col s12 m6 l6'>
	                <input type='password' ng-model="confirm_password" />
	                <label for='password'>Confirm Password</label>
	              </div>
	            </div>
	            <div class='row'>
	              <div class='input-field col s12 m6 l6'>
	                <select class="" ng-model="gender" material-select>
				        <option value="MALE">MALE</option>
				        <option value="FEMALE">FEMALE</option>
				    </select>
	                <label for='gender'>Gender</label>
	              </div>
	              <div class='input-field col s12 m6 l6'>
	                <input type='text' ng-model="dob" />
	                <label for='dob'>Date of Birth</label>
	              </div>
	            </div>
	            <div class='row'>
	              <div class='input-field col s12 m12 l12'>
		              <input places-auto-complete size=80 ng-model="address" types="address" />
	            <div class='row'>
	              <div class='input-field col s12 m4 l4'>
	                <select ng-model="bank" material-select>
				        <option>Access Bank</option>
				    </select>
	                <label for='bank'>Bank Name</label>
	              </div>
	              <div class='input-field col s12 m4 l4'>
	                <input type='text' ng-model="accountName" />
	                <label for='accountName'>Account Name</label>
	              </div>
	              <div class='input-field col s12 m4 l4'>
	                <input type='text' ng-model="accountNumber" />
	                <label for='accountNumber'>Account Number</label>
	              </div>
	            </div>
	            <center>
	              <div class='row'>
	                <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Register</button>
	              </div>
	            </center>
	          </form>
	        </div>
	      </div>
	    </center>
	</main>
</div>