	<div class="section">
		<main ng-controller="loginController as loginCtrl">
		    <center>
		      <div class="section"></div>

		      <div class="container">
		        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

		          <form class="col s12" ng-submit="login()">
		            <div class='row'>
		              <div class='input-field col s12'>
		                <input type="email" ng-model="email" />
		                <label for='email'>Enter your email</label>
		              </div>
		            </div>

		            <div class='row'>
		              <div class='input-field col s12'>
		                <input type="password" ng-model="password" />
		                <label for='password'>Enter your password</label>
		              </div>
		              <label style='float: right;'>
							<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
						</label>
		            </div>

		            <br />
		            <center>
		              <div class='row'>
		                <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Login</button>
		              </div>
		            </center>
		          </form>
		        </div>
		      </div>
		      <a ui-sref="public.register">Create account</a>
		    </center>
		</main>
	</div>
