<div id="loading-bar-container"></div>
<div class="navbar-fixed" ng-controller="navbarController as navbarCtrl">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a class="brand-logo" ui-sref="app.index">Leadexchange</a>
      <div>
        <ul class="right hide-on-med-and-down">
          <li ng-show="loggedIn"><a class="waves-effect waves-teal" ui-sref="app.buy">Apply for Exchange</a></li>
            <!-- <li ng-show="loggedIn" ui-sref-active="active"><a class="waves-effect waves-light" ui-sref="app.profile({id})">{{ user }}</a></li> -->
            <li ng-show="loggedIn && toggle_role"><a class="waves-effect waves-teal" ui-sref="app.settings">Application Settings</a></li>
            <li><a class="waves-effect waves-teal" ui-sref="app.faq">FAQ</a></li>
            <li><a class="waves-effect waves-teal" ui-sref="app.why">Why Us</a></li>
            <li><a class="waves-effect waves-teal" ui-sref="app.contact">Contact Us</a></li>
            <li ng-show="!loggedIn"><a class="waves-effect waves-teal btn" ui-sref="public.signin">Sign In</a></li>
            <li ng-show="!loggedIn"><a class="waves-effect waves-teal btn" ui-sref="public.register">Sign Up</a></li>
            <li ng-show="loggedIn"><a class="waves-effect waves-teal" ng-click="logout()">Sign Out</a></li>
        </ul>
        <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="true"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="side-nav" style="transform: translateX(0px);">
          <li ng-show="loggedIn"><a class="waves-effect waves-teal" ui-sref="app.buy">Apply for Exchange</a></li>
          <!-- <li ng-show="loggedIn" ui-sref-active="active"><a class="waves-effect waves-light" ui-sref="app.profile({id})">{{ user }}</a></li> -->
            <li ng-show="loggedIn && toggle_role"><a class="waves-effect waves-teal" ui-sref="app.settings">Application Settings</a></li>
            <li><a class="waves-effect waves-teal " ui-sref="app.why">Why Us</a></li>
            <li><a class="waves-effect waves-teal " ui-sref="app.faq">FAQ</a></li>
            <li><a class="waves-effect waves-teal " ui-sref="app.contact">Contact Us</a></li>
            <!-- <li><a class="waves-effect waves-teal " ui-sref="app.buy_sell">Buy and Sell</a></li> -->
            <li ng-show="loggedIn" ui-sref-active="active"><a class="waves-effect waves-light" ng-click="logout()">Sign Out</a></li>
            <li ng-show="!loggedIn" ui-sref-active="active"><a class="waves-effect waves-light" ui-sref="public.signin">Sign In</a></li>
            <li ng-show="!loggedIn" ui-sref-active="active"><a ui-sref="public.register" class="waves-effect waves-light">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
    <ui-view></ui-view>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">Leadexchange</h5>
              <p class="white-text"> Leadxchange registered in Nigeria provides exclusive e-currency top-up and withdrawal services from small to large amounts. We have launched our business in 2016, and we are always looking for new ways to help our customers exchange their money from the e-wallets.</p>
              </div>
              <div class="col l4 s12">
                <a title="1Broker.com" target="_blank" href="https://1broker.com/?r=17113"><img src="https://1broker.com/img/banner1-728x90.png" alt="1Broker Banner" style="width: 728px"/></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 MIKAFO GLOBAL ENTERPRISE
            </div>
          </div>
        </footer>
            

